<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<springProfile name="production">

		<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
			<encoder
				class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
				<providers>
					<timestamp>
						<timeZone>UTC</timeZone>
					</timestamp>
					<logLevel />
					<message />
					<loggerName />
					<threadName />
					<arguments />
					<stackTrace>
						<fieldName>stackTrace</fieldName>
						<throwableConverter
							class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
							<exclude>net\.sf\.cglib\..*</exclude>
							<maxDepthPerThrowable>30</maxDepthPerThrowable>
							<rootCauseFirst>true</rootCauseFirst>
						</throwableConverter>
					</stackTrace>
				</providers>
			</encoder>
		</appender>

	</springProfile>

	<springProfile name="development,staging">

		<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>%d{HH:mm:ss.SSS} %p %c %msg%n</pattern>
			</layout>
		</appender>

	</springProfile>

	<logger name="com.sitedia" level="info" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.springframework.web.servlet.mvc.method.annotation" level="warn" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.springframework.web.servlet.handler" level="warn" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.hibernate.jpa.internal.util.LogHelper" level="warn" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="org.springframework.security.web" level="warn" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="org.springframework.boot.context.embedded.AnnotationConfigEmbeddedWebApplicationContext" level="warn" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="org.springframework.jdbc.datasource.init.ScriptUtils" level="warn" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>